<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Team - Thunders
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" type="text/css" href="css/add.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5 mb-15">


				<div class="container flex-1 mx-auto">
					<!-- Content goes here-->

					<div class="card card-border w-full bg-base-100 shadow-xl">
						<div class="card-body">
							<div class="flex w-full justify-between mb-2 items-center">
								<div class="flex">
									<div class="flex-none">
										<select id="groupSelect" class="select select-primary w-30"
											onchange="changeGroup()">
											<option>SKB</option>
											<option>Sapphire</option>
										</select>
									</div>
									<div class="flex-none">
										<button id="reloadBtn" class="btn btn-square btn-soft btn-primary ml-3"
											onclick="reloadData()">
											<i class="size-5" data-lucide="rotate-cw"></i>
										</button>
									</div>
								</div>

								<div id="loader_main" class="flex-1 mx-5 hidden">
									<div role="alert" class="alert alert-info alert-soft">
										<span class="loading loading-spinner loading-md"></span>
										<span id="loader_main_content">Loading</span>
									</div>
								</div>
								<div class="flex-none">
									<button class="btn btn-primary" onclick="addMemberModal()">
										<i class="size-4" data-lucide="plus"></i>Add Member
									</button>
								</div>
							</div>
							<div class="overflow-x-auto">
								<table class="table">
									<!-- head -->
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Thunderbolt ID</th>
											<th class="text-center">Namelist</th>
											<th class="text-center">Last Login</th>
											<th class="text-center">Group</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody class="names">

									</tbody>
									<!-- foot -->

								</table>
							</div>
							<div id="pagination" class="flex items-center  mt-5 hidden">
								<div class="flex-none">
									<div class="join">
										<button class="join-item btn btn-sm btn-primary p-0 w-8 h-8"
											onclick="goBack()"><i data-lucide="chevron-left"></i></button>
										<button id="pageNumber" class="join-item btn btn-sm text-base-content px-5"
											disabled>1</button>
										<button class="join-item btn btn-sm btn-primary p-0 w-8 h-8"
											onclick="goForward()"><i data-lucide="chevron-right"></i></button>
									</div>
								</div>
								<div class="flex-none ml-5">
									<p><span id="fromProspect"></span>-<span id="toProspect"></span> of <b><span
												id="nlCount">37</span></b> members</p>
								</div>
							</div>

						</div>
					</div>


					<!-- Content ends here-->
				</div>
			</div>
			<dialog id="addPersonModal" class="modal">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Add new member</h3>
					<div class="flex w-full gap-2 my-4">

						<div class="flex-none">
							<label class="select">
								<span class="label">Group</span>
								<select id="memberGroup" onchange="checkValidName()">
									<option>SKB</option>
									<option>Sapphire</option>
								</select>
							</label>
						</div>
						<div class="flex-1">
							<label class="input">
								<span class="label">Name</span>
								<input type="text" id="memberName" onchange="checkValidName()" />
								<span id="loader_isValidName" class="loading loading-spinner loading-md hidden"></span>
								<span id="status_isValidName"></span>
							</label>
						</div>

					</div>
					<div class="modal-action">
						<form method="dialog">
							<!-- if there is a button in form, it will close the modal -->
							<button class="btn mr-1">Cancel</button>
							<button class="btn btn-primary" id="saveMember">Add Member</button>
						</form>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
			<dialog id="deletePersonModal" class="modal">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Delete member</h3>
					<p> Are you sure you want to delete <strong><span id="deleteMemberName"></span></strong> from
						<strong><span id="deleteMemberGroup"></span></strong>?
					</p>
					<div class="modal-action">
						<form method="dialog">
							<!-- if there is a button in form, it will close the modal -->
							<button class="btn mr-1">Cancel</button>
							<button class="btn btn-error" onclick="deleteUser()">Delete Member</button>
						</form>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
			<dialog id="editPersonModal" class="modal">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Edit member</h3>
					<label class="input mt-4 w-full">
						<span class="label">Name</span>
						<input type="text" id="editUserName" value="" disabled />
					</label>
					<label class="input mt-2 mb-4 w-full">
						<span class="label">Thunderbolt ID</span>
						<input type="text" id="editUserID" placeholder="enter ID" onchange="checkIsValid(this)" />
						<span id="loader_isValidID" class="loading loading-spinner loading-md hidden"></span>
					</label>
					<div id="alertValidThunderboltID" role="alert" class="alert alert-soft alert-success hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
							viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
						<div>
							Name - <strong><span id="thndrName"></span></strong>,
							Email - <strong><span id="thndrEmail"></span></strong>,
						</div>
					</div>
					<div id="alertInvalidThunderboltID" role="alert" class="alert alert-soft alert-error hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
							viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
						<span>Invalid ID!</span>
					</div>
					<div class="modal-action">
						<form method="dialog">
							<!-- if there is a button in form, it will close the modal -->
							<button class="btn mr-1">Cancel</button>
							<button id="updateUserBtn" class="btn btn-info">Update</button>
						</form>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
			<dialog id="thunderboltNLModal" class="modal">
				<div class="modal-box w-11/12 max-w-7xl">
					<h3 class="text-lg font-bold">Thunderbolt Namelist : <span id="namelistModalTitle"
							class="text-primary opacity-90"></span></h3>
					<div class="container mx-auto mt-3">
						<!-- Content goes here-->

						<div class="control_card card card-border w-full bg-base-100 shadow-xl">
							<div class="card-body relative flex flex-wrap overflow-x-hidden">
								<div class="flex w-full justify-between">
									<div class="flex flex-1 items-center">
										<div class="flex-none">
											<label class="select select-sm w-44">
												<span class="label"><i class="h-5 w-5"
														data-lucide="list-filter"></i></span>
												<select id="fliterDropDown" onchange="filterValueChanged(this)"
													disabled>
													<option></option>
													<option>Name</option>
													<option>Week Added</option>
													<option>Zone</option>
													<option>City</option>
													<option>Chatting</option>
													<option>Social Media</option>
													<option>Stage 1</option>
													<option>Stage 2</option>
													<option>Info</option>
													<option>Reinfo</option>
													<option>Meetup</option>
													<option>Invi</option>
													<option>Plan</option>
												</select>
											</label>
										</div>
										<div class="option flex-none ml-1 hidden">
											<label id="sortName" class="input input-sm">
												<input type="text" placeholder="search a name.."
													onkeyup="searchByName(this)" />
											</label>
										</div>
										<div class="option flex-none ml-1 hidden">
											<label id="sortWeek" class="select select-sm">
												<span class="label">Week</span>
												<select onchange="searchByWeekAdded(this)">
													<option></option>
												</select>
											</label>
										</div>
										<div class="option flex-none ml-1 hidden">
											<label id="sortZone" class="select select-sm">
												<select onchange="searchByZone(this)">
													<option></option>
													<option>Office</option>
													<option>PG</option>
													<option>School</option>
													<option>College</option>
													<option>Others</option>
												</select>
											</label>
										</div>
										<div class="option flex-none ml-1 hidden">
											<label id="sortCity" class="input input-sm">
												<input type="text" placeholder="search a city.."
													onkeyup="searchByCity(this)" />
											</label>
										</div>
										<div class="option flex-none ml-1 hidden">
											<label id="sortDonePending" class="select select-sm">
												<select onchange="searchByDonePending(this)">
													<option></option>
													<option>Done</option>
													<option>Pending</option>
												</select>
											</label>
										</div>

										<!--Close button goes here-->
										<div class="flex-none ml-1">

											<button id="cancelFilterBtn"
												class="btn btn-sm btn-error p-0 w-8 h-8 hidden">
												<i class="h-5 w-5 " data-lucide="x"></i>
											</button>
											<button id="addFilterBtn" class="btn btn-sm btn-info p-0 w-8 h-8 hidden">
												<i class="h-5 w-5 " data-lucide="list-filter-plus"></i>
											</button>

										</div>
										<div class="option2 flex-none ml-1 hidden">
											<label class="select select-sm w-44">

												<span class="label"><i class="h-5 w-5"
														data-lucide="list-filter"></i></span>
												<select id="fliterDropDown2" onchange="filterValueChanged2(this)">
													<option></option>
													<option>Social Media</option>
													<option>Stage 1</option>
													<option>Stage 2</option>
													<option>Info</option>
													<option>Reinfo</option>
													<option>Meetup</option>
													<option>Invi</option>
													<option>Plan</option>
												</select>
											</label>
										</div>
										<div class="option2 flex-none ml-1 hidden">
											<label id="sortDonePending2" class="select select-sm">
												<select onchange="searchByDonePending2(this)">
													<option></option>
													<option>Done</option>
													<option>Pending</option>
												</select>
											</label>
										</div>
										<div class="option2 flex-none ml-1 hidden">
											<button id="cancelFilterBtn2" class="btn btn-sm btn-error p-0 w-8 h-8">
												<i class="h-5 w-5 " data-lucide="x"></i>
											</button>
										</div>
										<div class="flex-none ml-3">
											<span id="loadingNL"
												class="loading loading-bars loading-md text-accent"></span>

										</div>


									</div>
									<div class="flex-none justify-self-end">
										<button id="downloadBtn" class="btn btn-sm btn-square btn-soft btn-primary" onclick="exportJsonToExcel()">
											<i class="size-5" data-lucide="download"></i>
										</button>
									</div>
								</div>


								<div class="overflow-x-auto w-full mt-2 pb-2">
									<table id="NLTable" class="table table-xs table-pin-cols table-zebra">
										<thead data-theme="light">
											<tr>
												<td></td>
												<th class="text-center pt-3 bg-primary name">Name</th>
												<td class="text-center pt-3 weekAdded">Week added</td>
												<td class="text-center pt-3 zone">Zone</td>
												<td class="text-center pt-3 city">City</td>
												<td class="text-center pt-3 bl chatting">Chatting</td>
												<td class="text-center pt-3 br socialMedia">Social Media</td>
												<td class="text-center pt-3 bl stage1">Stage 1</td>
												<td class="text-center pt-3 br stage1">Week</td>
												<td class="text-center pt-3 bl stage2">Stage 2</td>
												<td class="text-center pt-3 br stage2">Week</td>
												<td colspan="3" class="text-center pt-3 bl br bb info">Info</td>
												<!-- <td>Info week</td>
									  <td>Response</td> -->
												<td colspan="3" class="text-center pt-3 bl br bb reinfo">Reinfo</td>
												<!-- <td>Reinfo week</td>
									  <td>Response</td> -->
												<td class="text-center pt-3 meetup">Meetup</td>
												<td colspan="3" class="text-center pt-3 bl br bb invi">Invite</td>
												<!-- <td>Invite week</td>
									  <td>Invite status</td> -->
												<td colspan="3" class="text-center pt-3 bl br bb plan">Plan</td>
												<!-- <td>Plan week</td>
									  <td>Plan status</td> -->
												<td class="text-center pt-3">Remarks</td>
												<td></td>
											</tr>
											<tr>
												<td class="bb"></td>
												<th class="bg-primary bb name"></th>
												<td class="bb weekAdded"></td>
												<td class="bb zone"></td>
												<td class="bb city"></td>
												<td class="bl bb chatting"></td>
												<td class="bb socialMedia"></td>
												<td class="bb bl stage1"></td>
												<td class="bb br stage1"></td>
												<td class="bb bl stage2"></td>
												<td class="bb br stage2"></td>
												<td class="text-center pb-2 bl bb info">Done</td>
												<td class="text-center pb-2 bb info">Week</td>
												<td class="text-center pb-2 bb br info">Response</td>
												<!-- <td>Info week</td>
										<td>Response</td> -->
												<td class="text-center pb-2 bb bl reinfo">Done</td>
												<td class="text-center pb-2 bb reinfo">Week</td>
												<td class="text-center pb-2 bb br reinfo">Response</td>
												<!-- <td>Reinfo week</td>
										<td>Response</td> -->
												<td class="bb meetup"></td>
												<td class="text-center pb-2 bb bl invi">Done</td>
												<td class="text-center pb-2 bb invi">Week</td>
												<td class="text-center pb-2 bb br invi">Response</td>
												<!-- <td>Invite week</td>
										<td>Invite status</td> -->
												<td class="text-center pb-2 bb bl plan">Done</td>
												<td class="text-center pb-2 bb plan">Week</td>
												<td class="text-center pb-2 bb br plan">Status</td>
												<!-- <td>Plan week</td>
										<td>Plan status</td> -->
												<td class="bb"></td>
												<td class="bb"></td>
											</tr>
										</thead>
										<tbody id="namelistTable">

										</tbody>

									</table>

								</div>
								<div id="paginationNL" class="flex items-center  mt-5 hidden">
									<div class="flex-none">
										<div class="join">
											<button class="join-item btn btn-sm btn-accent p-0 w-8 h-8"
												onclick="goBackNL()"><i data-lucide="chevron-left"></i></button>
											<button id="pageNumberNL"
												class="join-item btn btn-sm text-base-content px-5" disabled>1</button>
											<button class="join-item btn btn-sm btn-accent p-0 w-8 h-8"
												onclick="goForwardNL()"><i data-lucide="chevron-right"></i></button>
										</div>
									</div>
									<div class="flex-none ml-5">
										<p><span id="fromProspectNL"></span>-<span id="toProspectNL"></span> of <b><span
													id="nlCountNL">37</span></b> namelist</p>
									</div>
									<div class="flex-1 ml-10">
										<!-- <div role="alert" id="alertNL"
											class="alert alert-success alert-soft w-90 justify-self-end hidden">
											<svg xmlns="http://www.w3.org/2000/svg"
												class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
													d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
											</svg>
											<span id="alertContent"></span>
										</div> -->
									</div>

								</div>



							</div>
						</div>


						<!-- Content ends here-->
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>

			<%- include('components/scripts.ejs'); -%>
				<script src="/js/xlsx.full.min.js"></script>
				<script src="/js/add.js"></script>
				<script src="/js/thunderbolt/namelist.js"></script>

</body>

</html>