<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Closings - Thunders
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="css/closings.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5">


				<div class="container flex-1 mx-auto">
					<!-- Content goes here-->

					<div class="card card-border w-full bg-base-100 shadow-xl">
						<div class="card-body">
							<p class="card-title">Welcome back, Admin
							</p>
							<p>Here is your Closings overview.</p>

						</div>
					</div>


					<!-- Content ends here-->
				</div>
			</div>

			<%- include('components/scripts.ejs'); -%>
			<script src="/js/closings.js"></script>

</body>

</html>