<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Dashboard - Thunders
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" type="text/css" href="css/dashboard.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5">


				<div class="container flex-1 mx-auto">
					<!-- Content goes here-->

					<div class="card card-border w-full bg-base-100 shadow-sm mb-5">
						<div class="card-body">
							<div class="flex justify-between">
								<div class="flex-1 basis-8/12">
									<p class="card-title">Welcome back, Admin
									</p>
									<p>Here is your dashboard overview</p>
								</div>
								<div class="flex-none basis-4/12">
									<div class="stats shadow w-full bg-team h-30">
										<div class="stat">
											<div class="stat-figure  opacity-60">
												<i data-lucide="users"></i>
											</div>
											<div class="stat-title font-semibold">Team Count</div>
											<div id="dashCount" class="stat-value text-4xl"></div>
											<div class="stat-desc"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="stats shadow mt-3 w-full h-40">
								<div class="stat">
									<div class="stat-figure  opacity-60">
										<i data-lucide="network"></i>
									</div>
									<div class="stat-title font-bold">Networking</div>
									<div id="dashNetworking" class="stat-value text-5xl"></div>
									<div class="stat-desc"></div>
								</div>
								<div class="stat">
									<div class="stat-figure  opacity-60">
										<i data-lucide="phone-call"></i>
									</div>
									<div class="stat-title font-bold">Infos</div>
									<div id="dashInfos" class="stat-value text-5xl"></div>
									<div class="stat-desc"></div>
								</div>
								<div class="stat">
									<div class="stat-figure  opacity-60">
										<i data-lucide="phone-outgoing"></i>
									</div>
									<div class="stat-title font-bold">Invis</div>
									<div id="dashInvis" class="stat-value text-5xl"></div>
									<div class="stat-desc"></div>
								</div>
								<div class="stat">
									<div class="stat-figure  opacity-60">
										<i data-lucide="indian-rupee"></i>
									</div>
									<div class="stat-title font-bold">Plans</div>
									<div id="dashPlans" class="stat-value text-5xl"></div>
									<div class="stat-desc"></div>
								</div>
							</div>
							<div class="chartData flex gap-10 h-50">
								<div class="flex-1">
									<canvas id="nodeData"></canvas>
								</div>
								<div class="flex-1">
									<canvas id="planData"></canvas>
								</div>
							</div>
							<div class="chartData flex gap-10 h-60">
								<div class="flex-1">
									<canvas id="networkingData"></canvas>
								</div>
								<div class="flex-1">
									<canvas id="infoData"></canvas>
								</div>
								<div class="flex-1">
									<canvas id="inviData"></canvas>
								</div>
							</div>
							<div class="chartData flex h-50 hidden">
								<div class="flex-1">
									<canvas id="chequeData"></canvas>
								</div>
							</div>
						</div>
					</div>




					<!-- Content ends here-->
				</div>
			</div>

			<%- include('components/scripts.ejs'); -%>
				<script src="/js/chart.min.js"></script>
				<script src="/js/dashboard.js"></script>

</body>

</html>