<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Network - Thunders
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" type="text/css" href="css/network.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5">


				<div class="container flex-1 mx-auto">
					<!-- Content goes here-->
					<div class="flex gap-2">
						<div class="flex-1">

							<button id="backBtn" class="btn btn-sm btn-square btn-soft btn-primary me-3" disabled>
								<i class="size-5" data-lucide="arrow-left"></i>
							</button>
							<div class="tree">
							</div>
						</div>
						<div class="absolute right-5 top-20">
							<div class="flex gap-5 mb-3">
								<div id="addNodeModal" class="flex-1 hidden">
									<div class="flex gap-3">
										<div class="flex-none">
											<label class="input input-sm">
												Name
												<input id="inputName" type="text" class="grow"
													placeholder="enter name.." onchange="" />
											</label>
										</div>
										<div class="flex-none">
											<select id="placements" class="select select-sm w-30">
												<option>-select-</option>
											</select>
										</div>
										<div class="flex-none">
											<button id="addBtn" class="btn btn-sm btn-square btn-success">
												<i class="size-5" data-lucide="check"></i>
											</button>
											<button id="cancelBtn" class="btn btn-sm btn-square btn-soft btn-error">
												<i class="size-5" data-lucide="x"></i>
											</button>
										</div>
									</div>
								</div>

								<button id="addBtnModalBtn" class="btn btn-sm btn-soft btn-square btn-primary">
									<i class="size-5" data-lucide="plus"></i>
								</button>


								<div class="card card-border bg-base-200 shadow-sm w-69 glass">
									<div class="card-body">

										<!-- <label class="input input-primary w-full">
											Search
											<input type="text" class="grow" placeholder="enter name.."
												onchange="searchNode(this)" />
										</label> -->
										<!-- <p class="">
											Name : <span id="nodeName">Harshitha</span>
										</p> -->
										<p>
											System Count : <span id="nodeCount"></span>
										</p>
										<p>
											Left : <span id="leftCount"></span>
										</p>
										<p>
											Right : <span id="rightCount"></span>
										</p>

									</div>
								</div>


							</div>
							<div role="alert" class="alert alert-soft alert-success w-69 justify-self-end hidden">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current"
									fill="none" viewBox="0 0 24 24">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
								<span id="alertContent"></span>
							</div>

						</div>
					</div>




					<!-- Content ends here-->
				</div>
			</div>

			<dialog id="modalDel" class="modal">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Delete node?</h3>
					<p class="py-4">Are you sure you want to delete <strong><span id="deleteModalName"></span></strong>?</p>
					<div class="modal-action">
						<form method="dialog">
							<!-- if there is a button in form, it will close the modal -->
							<button class="btn">Cancel</button>
							<button class="btn btn-soft btn-error" onclick="deleteNode()">Delete</button>
						</form>
					</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>



			<%- include('components/scripts.ejs'); -%>
				<script src="/js/network.js"></script>

</body>

</html>