<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Settings - Thunders
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include('components/styles.ejs'); -%>
		<link rel="stylesheet" type="text/css" href="css/settings.css">

</head>

<body>

	<%- include('components/header.ejs'); -%>
		<%- include('components/sidebar.ejs'); -%>

			<div class="wrapper flex mt-18 ml-25 mr-5 mb-15">


				<div class="container flex-1 mx-auto">
					<!-- Content goes here-->

					<!--DATATABLE SETTINGS-->
					<div class="card card-border w-full bg-base-100 shadow-md">
						<div class="card-body">
							<p class="card-title">
								Data table settings
							</p>
							<div class="join join-vertical bg-base-100 mt-2">
								<div class="collapse collapse-arrow join-item border-base-300 border">
									<input type="checkbox" name="my-accordion-4" />
									<div class="collapse-title font-semibold">
										SKB Data Fields
									</div>
									<div class="collapse-content text-sm">
										<div class="flex justify-content-evenly">
											<div class="basis-3/12">
												<div>
													<button type="button" class="btn btn-primary btn-sm"
														id="addFieldBtn"><i class="size-4" data-lucide="plus"></i> Add
														Field</button>
													<span id="drag_drop"></span>
													<br><br>
													<ul class="list-unstyled mb-35" id="table_header">
													</ul>
												</div>
											</div>
											<div class="basis-9/12">
												<table class="skb_table table table-bordered table-hover table-sm text-center">

												</table>
												<fieldset class="fieldset mt-2">
													<!-- <legend class="fieldset-legend">settingsJson.SKB_table</legend> -->
													<textarea class="textarea w-full" id="settingsJsonTextSKB"
														style="height: 250px; max-height:250px;" disabled></textarea>
													<div class="label">settingsJson.SKB_table</div>
												</fieldset>

												<br>
												<div class="mb-2">
													<div class="col-auto">
														<div class="flex items-center gap-1 mb-3">
															<span class="input-group-text"><b>View page col
																	span</b></span>
															<input type="text" id="viewColSpanSKB" class="input"
																style="width: 100px;  font-weight: bold;" disabled>
															<button type="button" class="btn btn-square btn-ghost"
																onclick="editColSpan(this)"><i class="size-5"
																	data-lucide="square-pen"></i></button>
															<div class="btn_controls hidden">
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="cancelColSpan(this)"><i class="size-5"
																		data-lucide="x"></i></button>
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="saveColSpan(this, 'View', 'SKB')"><i
																		class="size-5" data-lucide="save"></i></button>
															</div>

														</div>
													</div>
													<div class="col-auto">
														<div class="flex items-center gap-1 mb-3">
															<span class="input-group-text"><b>Analyze page col
																	span</b></span>
															<input type="text" id="analyzeColSpanSKB" class="input"
																style="width: 100px; font-weight: bold;" disabled>
															<button type="button" class="btn btn-square btn-ghost"
																onclick="editColSpan(this)"><i class="size-5"
																	data-lucide="square-pen"></i></button>
															<div class="btn_controls hidden">
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="cancelColSpan(this)"><i class="size-5"
																		data-lucide="x"></i></button>
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="saveColSpan(this, 'Analyze', 'SKB')"><i
																		class="size-5" data-lucide="save"></i></button>
															</div>
														</div>
													</div>
												</div>


												<code
													class="text-error">Warning : changing the configuration may break the application and existing data might be lost</code>
												<br><br>
												<button type="button" class="btn btn-error" id="saveConfigSKB"><i
														class="size-5" data-lucide="save"></i> Save
													Configuration</button>
												<br><br>

												<div
													class="card card-border bg-success text-success-content loading_config_skb w-120 mt-5 hidden">
													<div class="card-body ">
														<h5 class="card-title">
															Status :
															<span class="">in progress </span>
															<span class="loading loading-dots loading-sm"></span>

														</h5>

														<div class="w-full align-items-center status-content">
														</div>
														<p class="card-text progress_percentage"></p>
														<progress class="progress progress-neutral w-full" value="0"
															max="100"></progress>

													</div>
												</div>
												<div class="alert alert_skb alert-success align-items-center hidden"
													role="alert">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														fill="currentColor"
														class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
														viewBox="0 0 16 16" role="img" aria-label="Warning:">
														<path
															d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
													</svg>
													<div>
														Congratulations ! your configuaration is saved.
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="collapse collapse-arrow join-item border-base-300 border">
									<input type="checkbox" name="my-accordion-4" />
									<div class="collapse-title font-semibold">
										SAPPHIRE Data Fields
									</div>
									<div class="collapse-content text-sm">
										<div class="flex justify-content-evenly">
											<div class="basis-3/12">
												<div>
													<button type="button" class="btn btn-primary btn-sm"
														id="addFieldBtnSapphire"><i class="size-4" data-lucide="plus"></i> Add
														Field</button>
													<span id="drag_drop_sapphire"></span>
													<br><br>
													<ul class="list-unstyled mb-35" id="table_header_sapphire">
													</ul>
												</div>
											</div>
											<div class="basis-9/12">
												<table class="sapphire_table table table-bordered table-hover table-sm text-center">

												</table>
												<fieldset class="fieldset mt-2">
													<!-- <legend class="fieldset-legend">settingsJson.SKB_table</legend> -->
													<textarea class="textarea w-full" id="settingsJsonTextSapphire"
														style="height: 250px; max-height:250px;" disabled></textarea>
													<div class="label">settingsJson.SKB_table</div>
												</fieldset>
												<br>
												<div class="mb-2">
													<div class="col-auto">
														<div class="flex items-center gap-1 mb-3">
															<span class="input-group-text"><b>View page col
																	span</b></span>
															<input type="text" id="viewColSpanSapphire" class="input"
																style="width: 100px;  font-weight: bold;" disabled>
															<button type="button" class="btn btn-square btn-ghost"
																onclick="editColSpan(this)"><i class="size-5"
																	data-lucide="square-pen"></i></button>
															<div class="btn_controls hidden">
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="cancelColSpan(this)"><i class="size-5"
																		data-lucide="x"></i></button>
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="saveColSpan(this, 'View', 'Sapphire')"><i
																		class="size-5" data-lucide="save"></i></button>
															</div>

														</div>
													</div>
													<div class="col-auto">
														<div class="flex items-center gap-1 mb-3">
															<span class="input-group-text"><b>Analyze page col
																	span</b></span>
															<input type="text" id="analyzeColSpanSapphire" class="input"
																style="width: 100px; font-weight: bold;" disabled>
															<button type="button" class="btn btn-square btn-ghost"
																onclick="editColSpan(this)"><i class="size-5"
																	data-lucide="square-pen"></i></button>
															<div class="btn_controls hidden">
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="cancelColSpan(this)"><i class="size-5"
																		data-lucide="x"></i></button>
																<button type="button" class="btn btn-square btn-ghost"
																	onclick="saveColSpan(this, 'Analyze', 'Sapphire')"><i
																		class="size-5" data-lucide="save"></i></button>
															</div>
														</div>
													</div>
												</div>

												<code class="text-error">Warning : changing the configuration may break the application and existing data might be lost</code>
												<br><br>
												<button type="button" class="btn btn-error" id="saveConfigSapphire"><i
														class="size-5" data-lucide="save"></i> Save
													Configuration</button>
												<br>
												<br>

												<div
													class="card card-border bg-success text-success-content loading_sapphire w-120 mt-5 hidden">
													<div class="card-body ">
														<h5 class="card-title">
															Status :
															<span class="">in progress </span>
															<span class="loading loading-dots loading-sm"></span>

														</h5>

														<div class="w-full align-items-center status-content">
														</div>
														<p class="card-text progress_percentage"></p>
														<progress class="progress progress-neutral w-full" value="0"
															max="100"></progress>

													</div>
												</div>

												<div class="alert alert_sapphire alert-success align-items-center hidden"
													role="alert">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
														fill="currentColor"
														class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
														viewBox="0 0 16 16" role="img" aria-label="Warning:">
														<path
															d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
													</svg>
													<div>
														Congratulations ! your configuaration is saved.
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="collapse collapse-arrow join-item border-base-300 border">
									<input type="checkbox" name="my-accordion-4" />
									<div class="collapse-title font-semibold">
										SKB - SAPPHIRE Connections (for auto data update)
									</div>
									<div class="collapse-content text-sm">
										<div class="flex gap-3">
											<div class="editor-container">
												<canvas id="nodeCanvas"></canvas>
											</div>
											<div class="flex-1">
												<div class="card">
													<div class="card-body">

														<code
															class="text-error">Warning : changing the connections may break the application</code>
														<br><br>
														<button type="button" class="btn btn-error"
															id="saveConnections"><i class="size-5"
																data-lucide="save"></i>
															Save Connections</button>

														<div class="loading_connection form-group hidden mt-2">
															<div class="d-flex align-items-center">
																<span class="text-primary">Saving
																	connections...</span>
																&nbsp;
																<span
																	class="loading loading-spinner text-primary loading-sm"></span>
															</div>
														</div>
														<div class="alert alert_connection alert-success mt-2 align-items-center hidden"
															role="alert">
															<svg xmlns="http://www.w3.org/2000/svg" width="24"
																height="24" fill="currentColor"
																class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
																viewBox="0 0 16 16" role="img" aria-label="Warning:">
																<path
																	d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
															</svg>
															<div>
																Congratulations ! your connections are saved.
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!--IMPORT/EXPORT DATA-->
					<div class="card card-border w-full bg-base-100 shadow-md mt-4">
						<div class="card-body">
							<p class="card-title">
								Import/Export data
							</p>
							<div class="flex mt-4 gap-2">
								<div>
									<select class="select select-primary" onchange="importExportDropDownOnChanged(this)"
										id="reqType">
										<option>Export Data</option>
										<option>Import Data</option>
									</select>
								</div>
								<div class="browse_container hidden">
									<input type="file" class="file-input file-input-md" id="importFile">
								</div>
								<div class="selectCollection_container">
									<div class="flex gap-2">
										<div class="">
											<select class="select" id="selectCollection"
												onchange="generateNameDropDown()">
												<option>SKB</option>
												<option>Sapphire</option>
											</select>
										</div>
										<div class="">
											<select class="select" id="name">

											</select>
										</div>
									</div>
								</div>
								<div class="">
									<button type="button" id="processBtn" class="btn btn-primary"
										onclick="processRequest()">Process</button>
								</div>
							</div>
							<div
								class="card card-border bg-success text-success-content loading_import w-120 mt-5 hidden">
								<div class="card-body ">
									<h5 class="card-title">
										Status :
										<span class="">in progress </span>
										<span class="loading loading-dots loading-sm"></span>

									</h5>

									<div class="w-full align-items-center status-content">
									</div>
									<p class="card-text progress_percentage"></p>
									<progress class="progress progress-neutral w-full" value="0" max="100"></progress>

								</div>
							</div>
							<div class="alert alert_import alert-success align-items-center hidden mt-3" role="alert">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
									class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
									role="img" aria-label="Warning:">
									<path
										d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
								</svg>
								<div>
									<strong>Congratulations !</strong> your request is processed.
								</div>
							</div>
						</div>
					</div>


					<!-- Content ends here-->
				</div>
			</div>

			<%- include('components/scripts.ejs'); -%>
				<script src="/js/settings.js"></script>

</body>

</html>