.container .select {
    width: 120px;
}

.container thead tr {
    border: none !important;
    background-color: var(--color-accent);
    color: var(--color-accent-content);
}

.bt {
    border-top: 1px solid var(--color-accent-content);
}

.bb {
    border-bottom: 1px solid var(--color-accent-content);
}

.bl {
    border-left: 1px solid var(--color-accent-content);
}

.br {
    border-right: 1px solid var(--color-accent-content);
}

.container tbody .input {
    margin: 0px;
    /* border: none;
    background-color: transparent;
    text-align: center; */
}

.remarks,
.remarks-Sapphire {
    min-width: 200px !important;
    text-align: left !important;
}

.bg-target,
.bg-list,
.bg-plan, 
.bg-node ,
.bg-uv,
.bg-secondMeeting{
    font-weight: bold;
}

[data-theme="light"] {
    .bg-list, .bg-node {
        background-color: var(--color-info);
    }

    .bg-pending {
        background-color: #ebd7fa !important;
    }

    .bg-target, .bg-secondMeeting {
        background-color: var(--color-warning);
    }

    .bg-plan {
        background-color: var(--color-success);
    }

    .bg-done {
        background-color: #f8fad7 !important;
        /* color: var(--color-neutral); */
    }

    .bg-uv{
        background-color: var(--color-secondary-content);
    }
}

[data-theme="dark"] {
    .bg-list, .bg-node {
        background-color: var(--color-info-content);
    }

    .bg-pending {
        background-color: #4b4376 !important;
    }

    .bg-target, .bg-secondMeeting {
        background-color: #7b7d17;
        /* background-color: var(--color-warning-content); */
    }

    .bg-plan {
        background-color: var(--color-success-content);
    }

    .bg-done {
        background-color: #3a3a2d !important;
        /* color: var(--color-neutral); */
    }

    .bg-uv{
        background-color: var(--color-error);
    }

    .container thead tr {
        background-color: var(--color-accent-content);
        color: var(--color-accent);
    }

    .bt {
        border-top: 1px solid var(--color-accent);
    }

    .bb {
        border-bottom: 1px solid var(--color-accent);
    }

    .bl {
        border-left: 1px solid var(--color-accent);
    }

    .br {
        border-right: 1px solid var(--color-accent);
    }
}


.list{
    display: table-cell;
    font-size: .6875rem;
}