.roster .roster-header th {
    padding: 10px !important;
}

.roster .time {
    width: 100px !important;
}

.roster .has_data .btn-roster-data {
    background-color: #e5e5fa;
}

.roster .has_data .btn-roster-data:focus,
.roster .has_data .btn-roster-data:hover {
    background-color: #d0d0f6;
}


.btn-roster {
    background: #d4b1f4;
    /*rgba(0, 188, 212, 0.4);*/
    border: none;
    color: #343a40;
}

.btn-roster:hover {
    background: #c89bf1;
}

.loading_roster .text-success {
    font-weight: bold !important;
}

.skeleton {
    min-width: 140px;
    height: 50px;
}

.btn-roster-data {
    /* background-color: transparent; */
    min-width: 140px !important;
    width: 100% !important;
    height: 50px !important;
    font-weight: bold;
    border-radius: 0px;
    border: none !important;
}

.irName {
    font-size: 12px !important;
}

.plan_status {
    font-size: 10px !important;
    line-height: 1.5 !important;
}

[data-theme="light"] {
    .roster td {
        padding: 0 !important;
        border: 1px solid var(--color-neutral) !important;
    }
}

[data-theme="dark"] {
    .roster td {
        padding: 0 !important;
        border: 1px solid var(--color-neutral-content) !important;
    }

    .roster .has_data .btn-roster-data {
        background-color: #36297f;
    }

    .roster .has_data .btn-roster-data:focus,
    .roster .has_data .btn-roster-data:hover {
        background-color: #2e236c;
    }
}